<div class="container">
    <div class="head">
        <h1>Tic Tac Toe</h1>
        <button id="createRoomBtn" type="button" class="btn btn-primary"
                data-toggle="modal" data-target="#exampleModal">Create room
        </button>
        <div class="user-exit">
            <span>User: <strong id="username"
                                class="username">{{username}}</strong></span>
            <form action="/exit" class="exit-form" method="POST">
                <button id="exitBtn" type="submit" class="btn btn-primary">
                    Exit
                </button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <ul class="list-group rooms">
                {{#roomList rooms}}{{/roomList}}
            </ul>
        </div>
        <div class="col-8">
            <div class="info">
                <div>
                    <p id="currentRoom">You joined in <span></span></p>
                </div>
                <div>
                    <p id="opponent">Your opponent is <span></span></p>
                </div>
                <button id="leaveRoom" class="btn btn-primary">Leave room
                </button>
                <div id="alert" class="alert alert-primary" role="alert">
                    choose a free room or create your own for start a game
                </div>
            </div>
            <div class="field-wrap">
                <div id="field" class="field disable">
                    <div class="field-item" data-index="0"></div>
                    <div class="field-item" data-index="1"></div>
                    <div class="field-item" data-index="2"></div>
                    <div class="field-item" data-index="3"></div>
                    <div class="field-item" data-index="4"></div>
                    <div class="field-item" data-index="5"></div>
                    <div class="field-item" data-index="6"></div>
                    <div class="field-item" data-index="7"></div>
                    <div class="field-item" data-index="8"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create room</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Enter room title</h4>
                <label>
                    <input type="text" name="group-name" id="roomName"
                           class="form-control" placeholder="Room title..">
                </label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal" id="closeModalBtn">Close
                </button>
                <button type="button" class="btn btn-primary"
                        id="saveRoomBtn">Create
                </button>
            </div>
        </div>
    </div>
</div>