<div class="container">
    <div class="head">
        <h1>Tic Tac Toe</h1>
        <button id="createRoomBtn" class="btn btn-primary">Create room</button>
        <div class="user-exit">
            <span>User: <strong class="username">{{username}}</strong></span>
            <form action="/exit"  class="exit-form" method="POST">
                <button id="exitBtn" type="submit" class="btn btn-primary">Exit</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <ul class="list-group rooms">
                <li class="list-group-item active">Cras justo odio</li>
                <li class="list-group-item ">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
        <div class="col-8">
            <div class="alert alert-primary" role="alert">
                choose a free room or create your own for start a game
            </div>
<!--            <div class="field">-->
<!--                <div class="field-item"></div>-->
<!--                <div class="field-item"></div>-->
<!--                <div class="field-item"></div>-->
<!--                <div class="field-item"></div>-->
<!--                <div class="field-item"></div>-->
<!--                <div class="field-item"></div>-->
<!--                <div class="field-item"></div>-->
<!--                <div class="field-item"></div>-->
<!--                <div class="field-item"></div>-->
<!--            </div>-->
        </div>
    </div>
</div>