<div class="container center-container">
    <form class="form sign-in-form" method="POST">
        <label>Enter your username
            <input type="text" name="username" placeholder="username.." class="form-control">
        </label>
        <button type="submit" class="btn btn-primary">Enter</button>
    </form>
</div>